.led_group_cam {
    background: #fff;
    border: 2px solid #700808;
    border-radius: 30px;
    padding: 4px;
    height: fit-content;
    width: fit-content;
}

.led_group_cam_1 {
    background: #2aa9fb;
    border: 1px solid #333;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.led_group_cam_2 {
    background: #166b9d;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    filter: blur(1.5px);
}

.led_group_cam_3 {
    background: #2aa9fb;
    border-radius: 30px;
    width: 12px;
    height: 12px;
    padding: 6px 0px 0px 6px;
}

.led_group_cam_4 {
    background: #fff;
    border-radius: 30px;
    width: 5px;
    height: 5px;
}



