.controls_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    margin: 10px 0px;
}

.button_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70px;
    justify-content: space-between;
}
.panel {
    background: rgb(53, 94, 53);
    height: 20px;
    outline: 2px solid #700808;
    border-radius: 4px;
    border: 1px solid #1e9a47;
    width: 68px;
    margin-top: 10px;
}

.button_group_cross {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 54px;
}

.button_cross {
    outline: 2px solid #700808;
    border: 2px solid #000;
    background: linear-gradient(45deg, black, #222222);
}

.button_cross_t {
    height: 20px;
    width: 15px;
    border-radius: 7px 7px 4px 4px;
    margin-left: 20px;
    margin-bottom: 2px;
}

.button_cross_l {
    height: 15px;
    width: 20px;
    border-radius: 7px 4px 4px 7px;
}

.button_cross_r {
    height: 15px;
    width: 20px;
    border-radius: 4px 7px 7px 4px;
    margin-left: 14px;
}

.button_cross_b {
    height: 20px;
    width: 15px;
    border-radius: 4px 4px 7px 7px;
    margin-left: 20px;
    margin-top: 2px;
}
