.screen_cover {
    background: #111;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #333;
    outline: 2px solid #700808;
    color: #ccc;
    font-size: 27px;
    flex-direction: column;
    align-content: space-between;
    text-transform: uppercase;
    font-size: 12px;
}

.screen_cover_1{
    height: 50px;
}

.screen_cover_2{
    height: 25px;
    margin-top: 4px;
    background: #777;
    color: #000;
    border: 1px solid #aaa;
}

.screen_cover h3 {
    margin: 0;
    color: #ffcc00;
}

.screen_cover small{
    font-size: 10px;
}