@media screen and (max-width: 600px) {
    .pokedex_machine {
        flex-direction: column;
        transform: .5s;
    }

    .pokedex_cover{
        margin-top: 0;
        width: 100%;
        height: 260px;
        border-radius: 5px;
        padding-top: 10px;
    }

    .bar, .pokedex_cover_separador, .pokedex_cover .separator_1, .pokedex_cover .separator_2, .close{
        display: none;
        transition: .5s;
    }
}